* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 9fr;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 120px;
    height: 100vh;
    background-color: grey;

    
    button, input {
        width: 80%;
        height: 30px;
        margin: 10px
    }

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    .task-div {
        display: inline-flex;
        width: 60%;
        margin: 1vh;

        .task-btn, .delete-task-btn {
            height: 4vh;
        }
        .task-btn {
            width: 95%;

        }
        .delete-task-btn {
            min-width: fit-content;
            width: 5%;
        }
    }
}



