* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 9fr;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 120px;
    height: 100vh;
    background-color: grey;

    .project-div {
        display: inline-flex;
        width: 100%;
        justify-content: center;

        .project-btn {
            width: 60%;
        }
        .project-del-btn {
            width: 20%;
        }
    }
    #newProjectForm, #projectPrompt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #newProjectForm {
        margin-top: 20px;
    }
    
    button, input {
        width: 80%;
        height: 2rem;
        margin: 4px 0px 4px 0px
    }

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    .task-div {
        display: inline-flex;
        width: 60%;
        margin: 1vh;

        .task-btn, .delete-task-btn {
            height: 4vh;
        }
        .task-btn {
            width: 95%;

        }
        .delete-task-btn {
            min-width: fit-content;
            width: 5%;
        }
    }

    .task-modal {
        position: fixed;
        top: 20%;
        left: calc(20%);
        height: 60%;
        width: 60%;
    }
}



